{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center mt-5">
            <h4>Number Chain Calculator</h4>
        </div>

        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(form.numbers) }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                {{ form_row(form.calculate) }}
            </div>
        </div>
        {{ form_end(form) }}

        <div class="row">
            <div class="col">
                {% if results is not null %}
                    <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Number</th>
                        <th scope="col">Result</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for number, result in results %}
                            <tr>
                                <td>{{ number }}</td>
                                <td>{{ result }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
